{{ if .Site.Params.about2.enable }}
    {{"<!-- About Section -->" | safeHTML}}
    <section id="about" class="section about bg-gray">
        <div class="container">
            <div class="row">
                <div class="wow fadeInLeft">
                    <div class="content">
                        <div class="sub-heading">
                        <h3>FAQ</h3>
                        </div>
                        <ul class='about-description'>
                            <li>
                                <b>Q: What is Pi Reunion?</b>
                                <br>Pi Reunion is the 3.14 Year reunion for MIT undergraduates. It is an opportunity to reconnect with your friends and peers in Las Vegas, NV for a weekend. 
                            </li>
                            <li>
                                We will use this website to keep you up to date with news on Pi Reunion. Feel free to contact us at <a href='mailto:picomm17@mit.edu'>picomm17@mit.edu</a>. Our infinite connection site is at <a href='http://2017.alumclass.mit.edu'>2017.alumclass.mit.edu</a>.
                            </li>
                            <li style="font-weight: bold">
                                Please complete the Pi Reunion Survey by Dec 2, 2019.
                            </li>
                            <li>
                                Events and Registration are coming soon!
                            </li>
                        </ul>
                        <!-- {{ with .Site.Params.about.description }}
                            <p class='about-description'>{{ . | markdownify }}</p>
                        {{ end }} -->
                    </div>
                </div>
            </div>
        </div>

        <div class="slideshow"></div>

    </section>
{{ end }}