{{ if .Site.Params.about.enable }}
    {{"<!-- About Section -->" | safeHTML}}
    <section id="about" class="section about bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 wow fadeInLeft">
                    <div class="content">
                        <div class="sub-heading">
                        {{ with .Site.Params.about.heading }}
                            <h3>{{ . }}</h3>
                        {{ end }}
                        </div>
                        <ul class='about-description'>
                            <li>
                                There are a few big milestones in every MIT student's life: CPW, ring delivery, graduation...but don’t let it end there. In the summer of 2021, 3.1415... years after graduation, we are all going to meet in Las Vegas to celebrate our Pi Reunion!
                            </li>
                            <li>
                                We will use this website to keep you up to date with news on Pi Reunion. Feel free to contact us at <a href='mailto:picomm17@mit.edu'>picomm17@mit.edu</a>. Our infinite connection site is at <a href='http://2017.alumclass.mit.edu'>2017.alumclass.mit.edu</a>.
                            </li>
                            <!-- <li style="font-weight: bold">
                                Please complete the Pi Reunion Survey by Dec 2, 2019.
                            </li> -->
                            <li style="font-weight: bold">
                                Events and Registration are coming soon!
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 wow">
                    <div class="about-slider">
                        <img src="images/vegasSignTribute.png" alt="slider-image">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 wow fadeInLeft">
                    <div class="content">
                        <div class="sub-heading">
                            <h3>Pi Reunion Postponed (April 25 2020)</h3>
                        </div>
                        <p>
                            Over the last several months, our 2017 Pi Committee has been actively monitoring the COVID-19 pandemic and following health advisories closely. Unfortunately, it has become clear that the disruption COVID-19 is imposing on communities is too great and <b>we should not proceed as planned with Pi Reunion this year.</b> To do so would impose a risk to the health and well-being of our MIT class, our friends, and our families. In addition, COVID-19 poses a financial strain on many of us, and our aim is to make this event as accessible for every member of our class as we possibly can.
                            <br><br>
                            <b>Taking all of these factors into consideration, the MIT Class of 2017 Pi-Reunion will be postponed by exactly one year and rescheduled to July 9-11, 2021.</b> While this is certainly not the outcome we hoped for, there is a silver lining: due to the postponement, for the first time in history, there will be a dual Pi-Reunion in Las Vegas next year for both the Class of 2017 and the Class of 2018. We expect around 1,200-1,500 MIT alumni and friends to celebrate Pi next year together --an event that will break the traditional scope of Pi Reunion.
                            <br><br>
                            In the meantime, per your emails, we will be hosting a <b>Pi-Reunion “Happy Hour” on May 4, 2020 at 6PM PST</b>. Please bring your questions and enthusiasm and we are looking forward to seeing your on Zoom!
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12 col-sm-12 wow fadeInLeft">
                    <div class="content">
                        <div class="sub-heading">
                            <h3>Coronavirus Updates (March 12 2020)</h3>
                        </div>
                        <p>
                            We know the recent news and uncertainty surrounding the coronavirus (COVID-19) may have you taking a deeper look at your current travel plans and future options. It is a weird time right now (to say the least) and difficult to judge what things will be like in a few months.  
                            <br><br>
                            <b>We do not have any plans at this time to cancel or postpone this year’s Class of 2017 Pi Reunion, and we wanted to let you know that we will be working to stay aware of any new impacts and updates to travel policies to keep you informed.</b> We will be looking at guidance from MIT, the CDC, and other health professionals. 
                            <br><br>
                            However, in the event that the Class of 2017 Pi Reunion is cancelled, we will be giving full refunds for cancellation. This will include refunds for hotel reservations and registration. More info to come on hotel and events to come! Please keep an eye on your emails for more information as the situation progresses.
                            In the meantime, everyone remember to wash your hands thoroughly, try to avoid large crowds, and take care of yourselves and your families! ❤️
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 wow fadeInLeft">
                    <div class="content">
                        <div class="sub-heading">
                            <br><h3>FAQ</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 wow fadeInLeft">
                    <div class="content">
                        <ul class='about-description'>
                            <li>
                                <b>What is Pi Reunion?</b>
                                <br>Pi Reunion is the 3.14 Year reunion for MIT undergraduates. It is an opportunity to reconnect with your friends and peers in Las Vegas, NV for during the weekend of <b>July 9-11, 2021</b>.
                            </li>
                            <li>
                                <b>Where is Pi Reunion?</b>
                                <br>Pi Reunion will be held in Las Vegas. We will reserve a block of hotel rooms on the strip and coordinate events in various locations on the strip. 
                            </li>
                            <li>
                                <b>Who can go to Pi Reunion?</b>
                                <br>The 2017 Pi Reunion event (held in the summer of 2021) is primarily for alumni of the MIT Class of 2017, however, any MIT alumni is invited to attend. Additionally, MIT alumni can bring guests.
                            </li>
                            <li>
                                <b>Who is an “MIT 2017”?</b>
                                <br>For registration purposes, we consider an MIT 2017 as anyone who started MIT in Fall 2013 or Spring 2014, or anyone who graduated in 2017.
                            </li>
                            <li>
                                <b>Who organizes Pi Reunion?</b>
                                <br>The 2017 Pi Reunion is organized by a group of volunteer alumni from the class of 2017. Please go check out their bios!
                            </li>
                            <li>
                                <b>How does Pi Reunion work?</b>
                                <br>The Pi Committee will reserve a block of rooms in a hotel and organize a handful of events, shows, clubs, etc., to coordinate reunion activities. The Reunion will span a weekend, starting with a kickoff party (specific details soon!). Between these larger events, you’ll have many optional events/shows to attend alongside your classmates. 
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 wow fadeInLeft">
                    <div class="content">
                        <ul class='about-description'>
                            <li>
                                <b>How much will this cost?</b>
                                <br>While we haven’t solidified our budget or ticket prices yet, the price associated with Pi Reunion can be broken into a few categories. Your registration fee will cover the background expenses associated with running an event this large. You'll be responsible for the cost of your hotel room, although we will be negotiating a discount for our block. Each additional event/show/activity you elect to participate will have its own cost associated with it. Your committee is working hard to bring down costs of this event, so stay tuned!
                            </li>
                            <li>
                                <b>How do these hotels work?</b>
                                <br>The committee will negotiate with hotels along the Vegas strip to find the best rates possible. Attendees will be able to reserve rooms from within the negotiated block for the discounted rate. Multiple alumni and their non-MIT guests can elect to room together for a maximum capacity of four people; this will not be coordinated by the Pi Committee. Additionally, there will be larger suites that you can choose to upgrade to. You are not required to stay in the Pi Reunion hotel block, although our negotiated rates represent a significant discount and are contingent on booking a certain percentage of the block. Plus, our events are being planned around our hotel location!
                            </li>
                            <li>
                                <b>How do I stay up to date with the latest information?</b>
                                <br>Follow us on <a href='https://www.instagram.com/mit2017alumni/'>Instagram</a> and 
                                <a href = 'https://www.facebook.com/MIT2017ClassCouncil/'>Facebook</a>!
                            </li>                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="slideshow"></div>

    </section>
{{ end }}